PATH_add .luarocks/bin
PATH_add bin
# This is not optimal, but assume 5.4 for now.
export LUA_PATH='lua/?.lua;lua/?/init.lua;.luarocks/share/lua/5.4/?.lua;.luarocks/share/lua/5.4/?/init.lua;;'
export LUA_CPATH='.luarocks/lib/lua/5.4/?.so;;'

dotenv
